div.wrap {
  a: c;
}
div.wrap nav {
  a: c;
}
div.wrap nav h1 {
  a: c;
}
div.wrap nav h1 a {
  a: c;
}
div.wrap nav ul.gnb {
  a: c;
}
div.wrap nav ul.gnb li {
  a: c;
}
div.wrap nav ul.gnb li a {
  a: c;
}
div.wrap nav ul.enb {
  a: c;
}
div.wrap nav ul.enb li {
  a: c;
}
div.wrap nav ul.enb li a {
  a: c;
}