#portfolio {
  a: c;
}
#portfolio div.wrap {
  a: c;
}
#portfolio div.wrap h2 {
  a: c;
}
#portfolio div.wrap p {
  a: c;
}
#portfolio div.wrap ul.list {
  a: c;
}
#portfolio div.wrap ul.list li {
  a: c;
}
#portfolio div.wrap ul.list li h3 {
  a: c;
}
#portfolio div.wrap ul.list li figure {
  a: c;
}
#portfolio div.wrap ul.list li figure img {
  a: c;
}
#portfolio div.wrap ul.list li figure figcaption {
  a: c;
}
#portfolio div.wrap ul.list li ul.sub {
  a: c;
}
#portfolio div.wrap ul.list li ul.sub li {
  a: c;
}
#portfolio div.wrap ul.list li ul.sub li strong {
  a: c;
}
#portfolio div.wrap ul.list li ul.sub li.work {
  a: c;
}
#portfolio div.wrap ul.list li ul.sub li.work strong {
  a: c;
}
#portfolio div.wrap ul.list li ul.sub li.work ul {
  a: c;
}
#portfolio div.wrap ul.list li ul.sub li.work ul li {
  a: c;
}
#portfolio div.wrap ul.list li ul.sub li.work a {
  a: c;
}